@model EF_CodeFirst.Models.Product

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<table class="table">
    <tr>
        <th>Product ID</th>
        <td>@Model.ProductID</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Product Price</th>
        <td>@Model.Price.Value.ToString()</td>
    </tr>
    <tr>
        <th>Date of Purchase</th>
        <td>@Model.DateOfPurchase.Value.ToString()</td>
    </tr>
    <tr>
        <th>Availability Status</th>
        <td>@Model.AvailabilityStatus</td>
    </tr>
    <tr>
        <th>CategoryID</th>
        <td>@Model.CategoryID
        <td>
    </tr>
    <tr>
        <th>Brand ID</th>
        <td>@Model.BrandID</td>
    </tr>
    <tr>
        <th>Active</th>
        <td>@Model.Active</td>
    </tr>

</table>
<a href="@Url.Action("Index","Products")">Back to list</a>
